.container{
    display: flex;
    height: 500px;
    width: 400px;
    background-color: aqua;
    border: 1px solid;
}
 
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 1);
    border: 1px solid black;
}